%div{'ng-controller' => 'PhoneListCtrl'}
  .container-fluid
    .row-fluid
      .span2
        Search:
        %input{'ng-model' => 'query'}
      .span2
        Sort by:
        %select{'ng-model' => 'orderProp'}
          %option{'value' => 'name'}Alphabetical
          %option{'value' => 'age'}Newest
          %option{'value' => '-age'}Oldest
      .span10
        %title {{query}}
        %ul.phones
          %li{'ng-repeat' => 'phone in phones | filter:query | orderBy:orderProp'}
            {{phone.name}}
            %p {{phone.snippet}}
  %div
    {{phones | json}}
